* {
    margin: 0;
    padding: 0;
}

h2 {
    color: #00f;
    text-shadow: brown 1.5px 90deg;
    margin: 10px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 12px;
}

ul,
h3 {
    margin: 10px 0px 5px 10px;
    font-size: 30px;
}

ul a {
    text-decoration-line: none;
}