* {
    margin: 0;
    padding: 0;
}

h2 {
    color: #00f;
    text-shadow: brown 1.5px 90deg;
    margin-bottom: 10px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 12px;
}

MemberList {
    margin: 25px 0px 25px 25px;
}